@use '../abstracts/variables';
@use '../abstracts/mixins';


.header {
    width: 100%;
    height: 68px;
    padding: variables.$wrapper;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    h1 {
        margin: 0;
    }

    &__nav-link {
        position: relative;
        @include mixins.font-size(24px);
        font-weight: 500;
        margin-right: 47px;

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            text-decoration: underline;
        }

        &.active {
            text-decoration: underline;
        }
    }
}