@use '../abstracts/variables';
@use '../abstracts/mixins';

/********************/
/* BANNER COMPONENT */
/********************/

.banner {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 25px;

    @include mixins.medium-break {
        border-radius: 10px;
    }

    &__title {
        position: absolute;
        white-space: nowrap;
        overflow: visible;
        top: 50%;
        left: 50%;
        margin: 0;
        padding: 0;
        transform: translate(-50%, -50%);
        @include mixins.font-size(48px);
        font-weight: 500;
        color: variables.$white;

        @include mixins.medium-break {
            @include mixins.font-size(36px);
        }

        @include mixins.small-break {
            white-space: normal;
            @include mixins.font-size(24px);
            left: 16px;
            transform: translateY(-50%);
        }
    }

    &__overlay,
    &__img {
        width: 100%;
        height: 100%;
        border-radius: 25px;

        @include mixins.medium-break {
            border-radius: 10px;
        }
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        background-color: variables.$black;
        opacity: 30%;
    }

    &__img {
        object-fit: cover;
    }
}