@use '../abstracts/variables';
@use '../abstracts/mixins';

.lodging-card {
    position: relative;
    width: 340px;
    height: 340px;
    background-color: variables.$primary-color;
    border-radius: 10px;

    &:hover {
        .lodging-card__overlay {
            opacity: 30%;
            transition: all 0.6s ease-out;
        }
    }

    &::after {
        content: "";
        background: linear-gradient(180deg, hsla(0, 0%, 100%, 0), rgba(0, 0, 0, .4));
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    &__overlay {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        position: absolute;
        top: 0;
        left: 0;
        background-color: variables.$primary-color;
        opacity: 0;
        transition: all 0.6s ease-out;
        z-index: 11;
    }

    &__cover {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }

    &__title {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 18px;
        color: variables.$white;
        font-weight: 500;
        z-index: 12;
        margin: 0;
    }
}