@use '../abstracts/variables';
@use '../abstracts/mixins';

/******************/
/* TAG COMPONENT */
/*****************/

.tag {
    @include mixins.font-size(14px);
    font-weight: 500;
    min-width: 115px;
    border-radius: 10px;
    padding: 5px 15px;
    background-color: variables.$primary-color;
    color: variables.$white;
    text-align: center;

    @include mixins.small-break {
        min-width: 84px;
        @include mixins.font-size(10px);
        padding: 5px 10px;
    }
}