@use '../abstracts/variables';
@use '../abstracts/mixins';

.tag {
    @include mixins.font-size(14px);
    font-weight: 500;
    min-width: 115px;
    border-radius: 10px;
    padding: 5px 15px;
    background-color: variables.$primary-color;
    color: variables.$white;
}