/**********/
/* FONTS */
/*********/

$font-default: 'Montserrat', sans-serif;

/***********/
/* COLORS */
/**********/

$primary-color: #FF6060;
$white: #ffffff;
$black: #000000;

/*********/
/* Size */
/********/

$wrapper: 0 8%;


/***************/
/* RESPONSIVE */
/**************/

// 1.Breakpoints map for responsive
$breakpoints: (
    medium: 1024px,
    small: 768px
);