@use '../abstracts/variables';
@use '../abstracts/mixins';

/*********************/
/* ABOUT PAGE STYLE */
/********************/

.about {
    width: 100%;

    &__banner {
        height: 223px;
        margin-bottom: 31px;

        @include mixins.small-break {
            margin-bottom: 19px;
        }
    }

    &__dropdowns {
        max-width: 1024px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 31px;

        @include mixins.small-break {
            width: 100%;
            gap: 20px;
        }
    }
}