@use '../abstracts/variables';
@use '../abstracts/mixins';

/*******************/
/* HOMEPAGE STYLE */
/******************/

.home {

    &__banner {
        height: 223px;
        margin-bottom: 43px;

        @include mixins.small-break {
            height: 111px;
            margin-bottom: 22px;
        }
    }

    &__lodgings {
        padding: 50px;
        background-color: variables.$bg-grey;
        border-radius: 25px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;

        @include mixins.medium-break {
            border-radius: 10px;
        }

        @include mixins.small-break {
            padding: 0;
            background-color: variables.$white;
            gap: 20px;
        }
    }
}