@use '../abstracts/variables';
@use '../abstracts/mixins';

.home {
    margin: 63px 0 50px 0;

    &__banner {
        margin-bottom: 43px;
    }

    &__lodgings {
        padding: 50px;
        background-color: darken(variables.$white, 3.5%);
        border-radius: 25px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }
}